In [2]:
import numpy as np
import pandas as pd
source = "HDR 2007-2008 Table 14.xlsx"

df = pd.read_excel(source)
df.head(12)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
0,NaN,NaN,NaN,. . . to have access to the resources needed f...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,14 Economic performance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GDP per capita,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,GDP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,GDP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,HDI rank,NaN,NaN,US$ billions\n2005,NaN,PPP US$ billions\n2005,NaN,US$\n2005,NaN,2005 PPP US$a\n2005,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1,Iceland,NaN,15.8,NaN,10.8,NaN,"53,290",NaN,"36,510",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2,Norway,NaN,295.5,NaN,191.5,NaN,"63,918",NaN,"41,420",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,3,Australia,NaN,732.5,NaN,646.3,NaN,"36,032",NaN,"31,794",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df = pd.read_excel(source, header = 4)
#suppression des colonnes sans valeurs
df = df.dropna(how = "all", axis = 1)
#suppression des lignes sans valeurs
df = df.dropna(how = "all", axis = 0).reset_index(drop = True)
df.head(20)

,Unnamed: 0,Unnamed: 1,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 19,Unnamed: 21
0,NaN,NaN,NaN,NaN,NaN,NaN,GDP per capita,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Average annual change in consumer price index...,NaN
1,NaN,NaN,GDP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Highest value during \n1975-2005\n2005 PPP US$a,NaN,Year of highest value,NaN,NaN
2,NaN,NaN,GDP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Annual growth rate \n(%),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HDI rank,NaN,US$ billions\n2005,NaN,PPP US$ billions\n2005,NaN,US$\n2005,NaN,2005 PPP US$a\n2005,NaN,\n1975-2005,NaN,\n1990-2005,NaN,NaN,NaN,NaN,1990-2005,2004-05
4,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1,Iceland,15.8,NaN,10.8,NaN,"53,290",NaN,"36,510",NaN,1.8,NaN,2.2,NaN,"36,510",NaN,2005,3.3,4.2
6,2,Norway,295.5,NaN,191.5,NaN,"63,918",NaN,"41,420",NaN,2.6,NaN,2.7,NaN,"41,420",NaN,2005,2.2,1.5
7,3,Australia,732.5,NaN,646.3,NaN,"36,032",NaN,"31,794",NaN,2.0,NaN,2.5,NaN,"31,794",NaN,2005,2.5,2.7
8,4,Canada,"1,113.8",NaN,"1,078.0",NaN,"34,484",NaN,"33,375",NaN,1.6,NaN,2.2,NaN,"33,375",NaN,2005,1.9,2.2
9,5,Ireland,201.8,NaN,160.1,NaN,"48,524",NaN,"38,505",NaN,4.5,NaN,6.2,NaN,"38,505",NaN,2005,2.9,2.4
10,6,Sweden,357.7,NaN,293.5,NaN,"39,637",NaN,"32,525",NaN,1.6,NaN,2.1,NaN,"32,525",NaN,2005,1.6,0.5
11,7,Switzerland,367.0,NaN,265.0,NaN,"49,351",NaN,"35,633",NaN,1.0,NaN,0.6,NaN,"35,633",NaN,2005,1.2,1.2
12,8,Japan,"4,534.0",NaN,"3,995.1",NaN,"35,484",NaN,"31,267",NaN,2.2,NaN,0.8,NaN,"31,267",NaN,2005,0.2,-0.3
13,9,Netherlands,624.2,NaN,533.4,NaN,"38,248",NaN,"32,684",NaN,1.8,NaN,1.9,NaN,"32,684",NaN,2005,2.5,1.7
14,10,France,"2,126.6",NaN,"1,849.7",NaN,"34,936",NaN,"30,386",NaN,1.8,NaN,1.6,NaN,"30,386",NaN,2005,1.6,1.7
15,11,Finland,193.2,NaN,168.7,NaN,"36,820",NaN,"32,153",NaN,2.0,NaN,2.5,NaN,"32,153",NaN,2005,1.6,0.9
16,12,United States,"12,416.5",NaN,"12,416.5",NaN,"41,890",NaN,"41,890",NaN,2.0,NaN,2.1,NaN,"41,890",NaN,2005,2.6,3.4
17,13,Spain,"1,124.6",NaN,"1,179.1",NaN,"25,914",NaN,"27,169",NaN,2.3,NaN,2.5,NaN,"27,169",NaN,2005,3.4,3.4
18,14,Denmark,258.7,NaN,184.0,NaN,"47,769",NaN,"33,973",NaN,1.7,NaN,1.9,NaN,"33,973",NaN,2005,2.1,1.8
19,15,Austria,306.1,NaN,277.5,NaN,"37,175",NaN,"33,700",NaN,2.1,NaN,1.9,NaN,"33,700",NaN,2005,2.0,2.3

In [4]:
columns = []
for c in df.columns:
    columns.append([str(v) for v in df[c][:4] if pd.notnull(v)])
columns

[['HDI rank'],
 [],
 ['GDP', 'GDP', 'US$ billions\n2005'],
 [],
 [' PPP US$ billions\n2005'],
 [],
 ['GDP per capita', 'US$\n2005'],
 [],
 ['2005 PPP US$a\n2005'],
 [],
 ['Annual growth rate \n(%)', '\n1975-2005'],
 [],
 ['\n1990-2005'],
 [],
 ['Highest value during \n1975-2005\n2005 PPP US$a'],
 [],
 ['Year of highest value'],
 [' Average annual change in consumer price index \n(%)', ' 1990-2005'],
 ['2004-05']]

In [5]:
columns = ["HDI rank",
          "Country",
          "GDP - US$ billions 2005",
          "References 1",
          "GDP - PPP US $ billions 2005",
          "References 2",
          "GDP per capita - US$ 2005",
          "References 3",
          "GDP per capita - 2005 PPP US$ 2005",
          "References 4",
          "GDP per capita - Annual growth rate(%) 1975-2005",
          "References 5",
          "GDP per capita - Annual growth rate(%) 1990-2005",
          "References 6",
          "GDP per capita - highest value during 1975-2005 2005 PPP US$",
          "References 7",
          "GDP per capita - year of highest value",
          "Average annual change in consumer price index(%) - 1990-2005",
          "Average annual change in consumer price index(%) - 2004-2005"]

In [6]:
#réinitialiser les colonnes des cadres de données
df.columns = columns

In [7]:
df = df.drop(np.arange(4), axis=0).reset_index(drop=True)
df.head()

,HDI rank,Country,GDP - US$ billions 2005,References 1,GDP - PPP US $ billions 2005,References 2,GDP per capita - US$ 2005,References 3,GDP per capita - 2005 PPP US$ 2005,References 4,GDP per capita - Annual growth rate(%) 1975-2005,References 5,GDP per capita - Annual growth rate(%) 1990-2005,References 6,GDP per capita - highest value during 1975-2005 2005 PPP US$,References 7,GDP per capita - year of highest value,Average annual change in consumer price index(%) - 1990-2005,Average annual change in consumer price index(%) - 2004-2005
0,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Iceland,15.8,NaN,10.8,NaN,"53,290",NaN,"36,510",NaN,1.8,NaN,2.2,NaN,"36,510",NaN,2005,3.3,4.2
2,2,Norway,295.5,NaN,191.5,NaN,"63,918",NaN,"41,420",NaN,2.6,NaN,2.7,NaN,"41,420",NaN,2005,2.2,1.5
3,3,Australia,732.5,NaN,646.3,NaN,"36,032",NaN,"31,794",NaN,2.0,NaN,2.5,NaN,"31,794",NaN,2005,2.5,2.7
4,4,Canada,"1,113.8",NaN,"1,078.0",NaN,"34,484",NaN,"33,375",NaN,1.6,NaN,2.2,NaN,"33,375",NaN,2005,1.9,2.2

In [8]:
df.tail(30)

,HDI rank,Country,GDP - US$ billions 2005,References 1,GDP - PPP US $ billions 2005,References 2,GDP per capita - US$ 2005,References 3,GDP per capita - 2005 PPP US$ 2005,References 4,GDP per capita - Annual growth rate(%) 1975-2005,References 5,GDP per capita - Annual growth rate(%) 1990-2005,References 6,GDP per capita - highest value during 1975-2005 2005 PPP US$,References 7,GDP per capita - year of highest value,Average annual change in consumer price index(%) - 1990-2005,Average annual change in consumer price index(%) - 2004-2005
170,168,Congo (Democratic Republic of the),7.1,NaN,41.1,d,123,NaN,714,d,-4.9,NaN,-5.2,NaN,"2,488",NaN,1975,424.3,21.3
171,169,Ethiopia,11.2,NaN,75.1,d,157,NaN,"1,055",d,-0.2,b,1.5,NaN,"1,055",b,2005,4.2,11.6
172,170,Chad,5.5,NaN,13.9,d,561,NaN,"1,427",d,0.5,NaN,1.7,NaN,"1,427",NaN,2005,5.3,7.9
173,171,Central African Republic,1.4,NaN,4.9,d,339,NaN,"1,224",d,-1.5,NaN,-0.6,NaN,"1,935",NaN,1977,3.9,2.9
174,172,Mozambique,6.6,NaN,24.6,d,335,NaN,"1,242",d,2.3,b,4.3,NaN,"1,242",b,2005,22.1,7.2
175,173,Mali,5.3,NaN,14.0,NaN,392,NaN,"1,033",NaN,0.2,NaN,2.2,NaN,"1,033",NaN,2005,3.8,6.4
176,174,Niger,3.4,NaN,10.9,d,244,NaN,781,d,-1.7,NaN,-0.5,NaN,"1,293",NaN,1979,4.4,7.8
177,175,Guinea-Bissau,0.3,NaN,1.3,d,190,NaN,827,d,-0.6,NaN,-2.6,NaN,"1,264",NaN,1997,20.2,3.3
178,176,Burkina Faso,5.2,NaN,16.0,d,391,NaN,"1,213",d,0.9,NaN,1.3,NaN,"1,213",NaN,2005,4.1,6.4
179,177,Sierra Leone,1.2,NaN,4.5,NaN,216,NaN,806,NaN,-2.1,NaN,-1.4,NaN,"1,111",NaN,1982,19.7,12.1
180,Developing countries,NaN,"9,812.5",T,"26,732.3",T,"1,939",NaN,"5,282",NaN,2.5,NaN,3.1,NaN,..,NaN,..,..,..
181,Least developed countries,NaN,306.2,T,"1,081.8",T,424,NaN,"1,499",NaN,0.9,NaN,1.8,NaN,..,NaN,..,..,..
182,Arab States,NaN,"1,043.4",T,"1,915.2",T,"3,659",NaN,"6,716",NaN,0.7,NaN,2.3,NaN,..,NaN,..,..,..
183,East Asia and the Pacific,NaN,"4,122.5",T,"12,846.6",T,"2,119",NaN,"6,604",NaN,6.1,NaN,5.8,NaN,..,NaN,..,..,..
184,Latin America and the Caribbean,NaN,"2,469.5",T,"4,639.2",T,"4,480",NaN,"8,417",NaN,0.7,NaN,1.2,NaN,..,NaN,..,..,..
185,South Asia,NaN,"1,206.1",T,"5,152.2",T,800,NaN,"3,416",NaN,2.6,NaN,3.4,NaN,..,NaN,..,..,..
186,Sub-Saharan Africa,NaN,589.9,T,"1,395.6",T,845,NaN,"1,998",NaN,-0.5,NaN,0.5,NaN,..,NaN,..,..,..
187,Central and Eastern Europe and the CIS,NaN,"1,873.0",T,"3,827.2",T,"4,662",NaN,"9,527",NaN,1.4,NaN,1.4,NaN,..,NaN,..,..,..
188,OECD,NaN,"34,851.2",T,"34,076.8",T,"29,860",NaN,"29,197",NaN,2.0,NaN,1.8,NaN,..,NaN,..,..,..
189,High-income OECD,NaN,"32,404.5",T,"30,711.7",T,"35,696",NaN,"33,831",NaN,2.1,NaN,1.8,NaN,..,NaN,..,..,..
190,High human development,NaN,"37,978.4",T,"39,633.4",T,"22,984",NaN,"23,986",NaN,1.9,NaN,1.8,NaN,..,NaN,..,..,..
191,Medium human development,NaN,"5,881.2",T,"20,312.6",T,"1,412",NaN,"4,876",NaN,3.2,NaN,4.0,NaN,..,NaN,..,..,..
192,Low human development,NaN,236.4,T,544.2,T,483,NaN,"1,112",NaN,-0.7,NaN,0.6,NaN,..,NaN,..,..,..
193,High income,NaN,"34,338.1",T,"32,680.7",T,"34,759",NaN,"33,082",NaN,2.1,NaN,1.8,NaN,..,NaN,..,..,..
194,Middle income,NaN,"8,552.0",T,"22,586.3",T,"2,808",NaN,"7,416",NaN,2.1,NaN,3.0,NaN,..,NaN,..,..,..
195,Low income,NaN,"1,416.2",T,"5,879.1",T,610,NaN,"2,531",NaN,2.2,NaN,2.9,NaN,..,NaN,..,..,..
196,World,NaN,"44,155.7",T,"60,597.3",T,"6,954",NaN,"9,543",NaN,1.4,NaN,1.5,NaN,..,NaN,..,..,..
197,NOTES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,a. GDP values expressed in 2005 constant price...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,SOURCES\nColumns 1–4: World Bank 2007b; aggreg...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df = df.drop(np.arange(180,len(df)), axis=0).reset_index(drop=True)

In [12]:
hdi_categories = ["HIGH HUMAN DEVELOPMENT", "MEDIUM HUMAN DEVELOPMENT", "LOW HUMAN DEVELOPMENT"]
df = df.drop(df[df["HDI rank"].isin(hdi_categories)].index, axis=0).reset_index(drop=True)
df.loc[:, "HDI category"] = np.where(df["HDI rank"] > 155,
                                     "LOW HUMAN DEVELOPMENT",
                                     np.where(df["HDI rank"] > 70,
                                              "MEDIUM HUMAN DEVELOPMENT",
                                              "HIGH HUMAN DEVELOPMENT"
                                             )
                                    )
df.sort_values(by="HDI rank", inplace=True)

df.head()

,HDI rank,Country,GDP - US$ billions 2005,References 1,GDP - PPP US $ billions 2005,References 2,GDP per capita - US$ 2005,References 3,GDP per capita - 2005 PPP US$ 2005,References 4,GDP per capita - Annual growth rate(%) 1975-2005,References 5,GDP per capita - Annual growth rate(%) 1990-2005,References 6,GDP per capita - highest value during 1975-2005 2005 PPP US$,References 7,GDP per capita - year of highest value,Average annual change in consumer price index(%) - 1990-2005,Average annual change in consumer price index(%) - 2004-2005,HDI category
0,1,Iceland,15.8,NaN,10.8,NaN,"53,290",NaN,"36,510",NaN,1.8,NaN,2.2,NaN,"36,510",NaN,2005,3.3,4.2,HIGH HUMAN DEVELOPMENT
1,2,Norway,295.5,NaN,191.5,NaN,"63,918",NaN,"41,420",NaN,2.6,NaN,2.7,NaN,"41,420",NaN,2005,2.2,1.5,HIGH HUMAN DEVELOPMENT
2,3,Australia,732.5,NaN,646.3,NaN,"36,032",NaN,"31,794",NaN,2.0,NaN,2.5,NaN,"31,794",NaN,2005,2.5,2.7,HIGH HUMAN DEVELOPMENT
3,4,Canada,"1,113.8",NaN,"1,078.0",NaN,"34,484",NaN,"33,375",NaN,1.6,NaN,2.2,NaN,"33,375",NaN,2005,1.9,2.2,HIGH HUMAN DEVELOPMENT
4,5,Ireland,201.8,NaN,160.1,NaN,"48,524",NaN,"38,505",NaN,4.5,NaN,6.2,NaN,"38,505",NaN,2005,2.9,2.4,HIGH HUMAN DEVELOPMENT

In [13]:
destination = "economic_performance.csv"
# `index=False` signifie que nous n'allons pas garder cette colonne d'index - elle sera recréée lorsque nous ouvrirons le fichier à l'avenir
df.to_csv(destination, index=False)

In [14]:
df

,HDI rank,Country,GDP - US$ billions 2005,References 1,GDP - PPP US $ billions 2005,References 2,GDP per capita - US$ 2005,References 3,GDP per capita - 2005 PPP US$ 2005,References 4,GDP per capita - Annual growth rate(%) 1975-2005,References 5,GDP per capita - Annual growth rate(%) 1990-2005,References 6,GDP per capita - highest value during 1975-2005 2005 PPP US$,References 7,GDP per capita - year of highest value,Average annual change in consumer price index(%) - 1990-2005,Average annual change in consumer price index(%) - 2004-2005,HDI category
0,1,Iceland,15.8,NaN,10.8,NaN,"53,290",NaN,"36,510",NaN,1.8,NaN,2.2,NaN,"36,510",NaN,2005,3.3,4.2,HIGH HUMAN DEVELOPMENT
1,2,Norway,295.5,NaN,191.5,NaN,"63,918",NaN,"41,420",NaN,2.6,NaN,2.7,NaN,"41,420",NaN,2005,2.2,1.5,HIGH HUMAN DEVELOPMENT
2,3,Australia,732.5,NaN,646.3,NaN,"36,032",NaN,"31,794",NaN,2.0,NaN,2.5,NaN,"31,794",NaN,2005,2.5,2.7,HIGH HUMAN DEVELOPMENT
3,4,Canada,"1,113.8",NaN,"1,078.0",NaN,"34,484",NaN,"33,375",NaN,1.6,NaN,2.2,NaN,"33,375",NaN,2005,1.9,2.2,HIGH HUMAN DEVELOPMENT
4,5,Ireland,201.8,NaN,160.1,NaN,"48,524",NaN,"38,505",NaN,4.5,NaN,6.2,NaN,"38,505",NaN,2005,2.9,2.4,HIGH HUMAN DEVELOPMENT
5,6,Sweden,357.7,NaN,293.5,NaN,"39,637",NaN,"32,525",NaN,1.6,NaN,2.1,NaN,"32,525",NaN,2005,1.6,0.5,HIGH HUMAN DEVELOPMENT
6,7,Switzerland,367.0,NaN,265.0,NaN,"49,351",NaN,"35,633",NaN,1.0,NaN,0.6,NaN,"35,633",NaN,2005,1.2,1.2,HIGH HUMAN DEVELOPMENT
7,8,Japan,"4,534.0",NaN,"3,995.1",NaN,"35,484",NaN,"31,267",NaN,2.2,NaN,0.8,NaN,"31,267",NaN,2005,0.2,-0.3,HIGH HUMAN DEVELOPMENT
8,9,Netherlands,624.2,NaN,533.4,NaN,"38,248",NaN,"32,684",NaN,1.8,NaN,1.9,NaN,"32,684",NaN,2005,2.5,1.7,HIGH HUMAN DEVELOPMENT
9,10,France,"2,126.6",NaN,"1,849.7",NaN,"34,936",NaN,"30,386",NaN,1.8,NaN,1.6,NaN,"30,386",NaN,2005,1.6,1.7,HIGH HUMAN DEVELOPMENT
10,11,Finland,193.2,NaN,168.7,NaN,"36,820",NaN,"32,153",NaN,2.0,NaN,2.5,NaN,"32,153",NaN,2005,1.6,0.9,HIGH HUMAN DEVELOPMENT
11,12,United States,"12,416.5",NaN,"12,416.5",NaN,"41,890",NaN,"41,890",NaN,2.0,NaN,2.1,NaN,"41,890",NaN,2005,2.6,3.4,HIGH HUMAN DEVELOPMENT
12,13,Spain,"1,124.6",NaN,"1,179.1",NaN,"25,914",NaN,"27,169",NaN,2.3,NaN,2.5,NaN,"27,169",NaN,2005,3.4,3.4,HIGH HUMAN DEVELOPMENT
13,14,Denmark,258.7,NaN,184.0,NaN,"47,769",NaN,"33,973",NaN,1.7,NaN,1.9,NaN,"33,973",NaN,2005,2.1,1.8,HIGH HUMAN DEVELOPMENT
14,15,Austria,306.1,NaN,277.5,NaN,"37,175",NaN,"33,700",NaN,2.1,NaN,1.9,NaN,"33,700",NaN,2005,2.0,2.3,HIGH HUMAN DEVELOPMENT
15,16,United Kingdom,"2,198.8",NaN,"2,001.8",NaN,"36,509",NaN,"33,238",NaN,2.2,NaN,2.5,NaN,"33,238",NaN,2005,2.7,2.8,HIGH HUMAN DEVELOPMENT
16,17,Belgium,370.8,NaN,336.6,NaN,"35,389",NaN,"32,119",NaN,1.9,NaN,1.7,NaN,"32,119",NaN,2005,1.9,2.8,HIGH HUMAN DEVELOPMENT
17,18,Luxembourg,36.5,NaN,27.5,NaN,"79,851",NaN,"60,228",NaN,3.8,NaN,3.3,NaN,"60,228",NaN,2005,2.0,2.5,HIGH HUMAN DEVELOPMENT
18,19,New Zealand,109.3,NaN,102.5,NaN,"26,664",NaN,"24,996",NaN,1.1,NaN,2.1,NaN,"24,996",NaN,2005,1.9,3.0,HIGH HUMAN DEVELOPMENT
19,20,Italy,"1,762.5",NaN,"1,672.0",NaN,"30,073",NaN,"28,529",NaN,2.0,NaN,1.3,NaN,"28,944",NaN,2002,3.1,2.0,HIGH HUMAN DEVELOPMENT
20,21,"Hong Kong, China (SAR)",177.7,NaN,241.9,NaN,"25,592",NaN,"34,833",NaN,4.2,NaN,2.4,NaN,"34,833",NaN,2005,2.5,0.9,HIGH HUMAN DEVELOPMENT
21,22,Germany,"2,794.9",NaN,"2,429.6",NaN,"33,890",NaN,"29,461",NaN,2.0,NaN,1.4,NaN,"29,461",NaN,2005,1.7,2.0,HIGH HUMAN DEVELOPMENT
22,23,Israel,123.4,NaN,179.1,NaN,"17,828",NaN,"25,864",NaN,1.8,NaN,1.5,NaN,"25,864",NaN,2005,6.6,1.3,HIGH HUMAN DEVELOPMENT
23,24,Greece,225.2,NaN,259.6,NaN,"20,282",NaN,"23,381",NaN,1.3,NaN,2.5,NaN,"23,381",NaN,2005,6.5,3.6,HIGH HUMAN DEVELOPMENT
24,25,Singapore,116.8,NaN,128.8,NaN,"26,893",NaN,"29,663",NaN,4.7,NaN,3.6,NaN,"29,663",NaN,2005,1.2,0.5,HIGH HUMAN DEVELOPMENT
25,26,Korea (Republic of),787.6,NaN,"1,063.9",NaN,"16,309",NaN,"22,029",NaN,6.0,NaN,4.5,NaN,"22,029",NaN,2005,4.3,2.7,HIGH HUMAN DEVELOPMENT
26,27,Slovenia,34.4,NaN,44.6,NaN,"17,173",NaN,"22,273",NaN,3.2,b,3.2,NaN,"22,273",b,2005,9.2,2.5,HIGH HUMAN DEVELOPMENT
27,28,Cyprus,15.4,c,16.3,c,"20,841",c,"22,699",c,4.0,b,2.3,NaN,"22,699",b,2004,3.3,2.6,HIGH HUMAN DEVELOPMENT
28,29,Portugal,183.3,NaN,215.3,NaN,"17,376",NaN,"20,410",NaN,2.7,NaN,2.1,NaN,"20,679",NaN,2002,3.8,2.3,HIGH HUMAN DEVELOPMENT
29,30,Brunei Darussalam,6.4,NaN,..,NaN,"17,121",NaN,..,NaN,-1.9,b,-0.8,b,..,NaN,..,1.3,1.2,HIGH HUMAN DEVELOPMENT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,148,Kenya,18.7,NaN,42.5,NaN,547,NaN,"1,240",NaN,0.1,NaN,-0.1,NaN,"1,263",NaN,1990,11.6,10.3,MEDIUM HUMAN DEVELOPMENT
148,149,Djibouti,0.7,NaN,1.7,d,894,NaN,"2,178",d,-2.7,b,-2.7,NaN,"3,200",b,1990,..,..,MEDIUM HUMAN DEVELOPMENT
149,150,Timor-Leste,0.3,NaN,..,NaN,358,NaN,..,NaN,..,NaN,..,NaN,..,NaN,..,..,..,MEDIUM HUMAN DEVELOPMENT
150,151,Zimbabwe,3.4,NaN,26.5,NaN,259,NaN,"2,038",NaN,-0.5,NaN,-2.1,NaN,"3,228",NaN,1998,36.1,..,MEDIUM HUMAN DEVELOPMENT
151,152,Togo,2.2,NaN,9.3,d,358,NaN,"1,506",d,-1.1,NaN,(.),NaN,"2,133",NaN,1980,5.7,6.8,MEDIUM HUMAN DEVELOPMENT
152,153,Yemen,15.1,NaN,19.5,NaN,718,NaN,930,NaN,1.5,b,1.5,NaN,943,b,2002,20.8,..,MEDIUM HUMAN DEVELOPMENT
153,154,Uganda,8.7,NaN,41.9,d,303,NaN,"1,454",d,2.4,b,3.2,NaN,"1,454",b,2005,7.1,8.2,MEDIUM HUMAN DEVELOPMENT
154,155,Gambia,0.5,NaN,2.9,d,304,NaN,"1,921",d,-0.1,NaN,0.1,NaN,"1,932",NaN,1984,5.0,3.2,MEDIUM HUMAN DEVELOPMENT
155,156,Senegal,8.2,NaN,20.9,NaN,707,NaN,"1,792",NaN,(.),NaN,1.2,NaN,"1,792",NaN,2005,3.7,1.7,LOW HUMAN DEVELOPMENT
156,157,Eritrea,1.0,NaN,4.9,d,220,NaN,"1,109",d,..,NaN,0.3,b,"1,435",b,1997,..,..,LOW HUMAN DEVELOPMENT
157,158,Nigeria,99.0,NaN,148.3,NaN,752,NaN,"1,128",NaN,-0.1,NaN,0.8,NaN,"1,177",NaN,1977,23.5,13.5,LOW HUMAN DEVELOPMENT
158,159,Tanzania (United Republic of),12.1,NaN,28.5,NaN,316,NaN,744,NaN,1.4,b,1.7,NaN,744,b,2005,13.8,8.6,LOW HUMAN DEVELOPMENT
159,160,Guinea,3.3,NaN,21.8,NaN,350,NaN,"2,316",NaN,1.0,b,1.2,NaN,"2,316",b,2005,..,..,LOW HUMAN DEVELOPMENT
160,161,Rwanda,2.2,NaN,10.9,d,238,NaN,"1,206",d,-0.3,NaN,0.1,NaN,"1,358",NaN,1983,11.2,9.1,LOW HUMAN DEVELOPMENT
161,162,Angola,32.8,NaN,37.2,d,"2,058",NaN,"2,335",d,-0.6,b,1.5,NaN,"2,335",b,2005,393.3,23.0,LOW HUMAN DEVELOPMENT
162,163,Benin,4.3,NaN,9.6,NaN,508,NaN,"1,141",NaN,0.4,NaN,1.4,NaN,"1,141",NaN,2005,5.6,5.4,LOW HUMAN DEVELOPMENT
163,164,Malawi,2.1,NaN,8.6,NaN,161,NaN,667,NaN,-0.2,NaN,1.0,NaN,719,NaN,1979,28.4,15.4,LOW HUMAN DEVELOPMENT
164,165,Zambia,7.3,NaN,11.9,NaN,623,NaN,"1,023",NaN,-1.8,NaN,-0.3,NaN,"1,559",NaN,1976,40.0,18.3,LOW HUMAN DEVELOPMENT
165,166,Côte d'Ivoire,16.3,NaN,29.9,NaN,900,NaN,"1,648",NaN,-2.1,NaN,-0.5,NaN,"3,195",NaN,1978,5.4,3.9,LOW HUMAN DEVELOPMENT
166,167,Burundi,0.8,NaN,5.3,d,106,NaN,699,d,-1.0,NaN,-2.8,NaN,"1,047",NaN,1991,13.8,13.0,LOW HUMAN DEVELOPMENT
167,168,Congo (Democratic Republic of the),7.1,NaN,41.1,d,123,NaN,714,d,-4.9,NaN,-5.2,NaN,"2,488",NaN,1975,424.3,21.3,LOW HUMAN DEVELOPMENT
168,169,Ethiopia,11.2,NaN,75.1,d,157,NaN,"1,055",d,-0.2,b,1.5,NaN,"1,055",b,2005,4.2,11.6,LOW HUMAN DEVELOPMENT
169,170,Chad,5.5,NaN,13.9,d,561,NaN,"1,427",d,0.5,NaN,1.7,NaN,"1,427",NaN,2005,5.3,7.9,LOW HUMAN DEVELOPMENT
170,171,Central African Republic,1.4,NaN,4.9,d,339,NaN,"1,224",d,-1.5,NaN,-0.6,NaN,"1,935",NaN,1977,3.9,2.9,LOW HUMAN DEVELOPMENT
171,172,Mozambique,6.6,NaN,24.6,d,335,NaN,"1,242",d,2.3,b,4.3,NaN,"1,242",b,2005,22.1,7.2,LOW HUMAN DEVELOPMENT
172,173,Mali,5.3,NaN,14.0,NaN,392,NaN,"1,033",NaN,0.2,NaN,2.2,NaN,"1,033",NaN,2005,3.8,6.4,LOW HUMAN DEVELOPMENT
173,174,Niger,3.4,NaN,10.9,d,244,NaN,781,d,-1.7,NaN,-0.5,NaN,"1,293",NaN,1979,4.4,7.8,LOW HUMAN DEVELOPMENT
174,175,Guinea-Bissau,0.3,NaN,1.3,d,190,NaN,827,d,-0.6,NaN,-2.6,NaN,"1,264",NaN,1997,20.2,3.3,LOW HUMAN DEVELOPMENT
175,176,Burkina Faso,5.2,NaN,16.0,d,391,NaN,"1,213",d,0.9,NaN,1.3,NaN,"1,213",NaN,2005,4.1,6.4,LOW HUMAN DEVELOPMENT
176,177,Sierra Leone,1.2,NaN,4.5,NaN,216,NaN,806,NaN,-2.1,NaN,-1.4,NaN,"1,111",NaN,1982,19.7,12.1,LOW HUMAN DEVELOPMENT